{% extends "main/base.html" %}

{% block title %}
Информация
{% endblock %}

{% block content %}

      <h1>О нас</h1>
    {% if tasks %}
      {% for el in tasks %}
        <div class="alert alert-warning mt-2">
          <h3>{{el.greeting}}</h3>
          <p>{{el.email}}</p>
            <p>{{el.tel}}</p>
            {% if el.image %}
            <img src="{{ MEDIA_URL }}{{ el.image.url }}">
            {% endif %}
        </div>
      {% endfor %}
    {% else %}
        <p>Страница на реконструкции</p>
    {% endif %}
{% endblock %}
